<h1>All Questions for test #<%=params[:test_id] %></h1>

<table>
  <thead>
  <tr>
    <th>#</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <%= render @questions %>
  </tbody>
</table>

<br/><br/>

<%= link_to 'Create new question for this test', new_test_question_path %>
