<h1><%= @question.title %></h1>

<% if @question.answers.any? %>
  <h3 class="mb-3">Answers</h3>
<% end %>

<%= link_to 'New answer', new_question_answer_path(@question), class: 'btn btn-outline-primary btn-md mb-2' %>

<% if @question.answers.any? %>
  <%= render @question.answers %>
<% else %>
  <div class="alert alert-danger" role="alert">
    There are no answers for this question yet!
  </div>
<% end %>

<%= link_to 'Back', @question.test , class: 'btn btn-outline-primary btn-md mb-4' %>
