@import 'bootstrap.scss';

.field_with_errors {
    .form-control {
        border-color: $red;
    }
    label {
        color: $red;
    }
}

.hide {
    display: none;
}

#myProgress {
    width: 100%;
    background-color: #ddd;
    border-radius: 4px;
}

#myBar {
    width: 0;
    height: 30px;
    background-color: #04AA6D;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 4px;
}
